---
name: release
on:
  push:
    tags:
      - "v*"
  release:
    types: [created]
permissions:
  contents: write
concurrency:
  group: ${{ github.workflow }} @ ${{ github.ref }}
  cancel-in-progress: true
jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
      - name: Fetch all tags
        run: git fetch --force --tags
      - name: Setup Golang
        uses: actions/setup-go@v6
        with:
          go-version: ^1.23.8
      - name: Setup workspace
        run: cp go.work.dist go.work
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: 2.9.0
          args: release --verbose --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GO_VERSION: 1.23.8
